<!DOCTYPE html>
<html lang="ru">
<title>{title}</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="copyright" content="Создание сайтов - DigitalNark Labs, www.boo-ga.ga, 2018">
  <meta name="author" content="DarkLab">
  <meta name="yandex-verification" content="522be944f6f3c7f0" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="экскаватор, kobelco, кобелко, экскаватор kobelco, kobelco SK210LC-8, kobelco SK210LC-8 цена, kobelco SK210LC-8 характеристики">
  <meta name="description" content="Экскаватор Kobelco SK210LC-8, его характеристики, фото и цены.">
  <meta itemprop="url" content="http://www.rushoztorg.ru/">
  <meta itemprop="name" content="Русхозторг - Дорожно-cтроительная техника, продажа, обслуживание, лизинг, трэйд-ин | Русхозторг">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
  <!-- fotorama.css & fotorama.js. -->
  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
  <script src="js/sticky.js"></script> <!-- 16 KB -->
  <script  src="js/fullscreenmenu.js"></script>
  <!-- custom rba css -->
  <link  href="css/rbp.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="css/mobmenu.css">-->
  <link rel="stylesheet" href="css/stylez.css">
  <link rel="stylesheet" href="css/fullscreenmenu.css">
  <link rel="stylesheet" href="css/bc.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/tabs.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
 <!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
	<a href="/catalog/avtogreydery/" title="Автогрейдеры">Автогрейдеры</a>
	<a href="/catalog/ekskavatory/" title="Экскаваторы">Экскаваторы</a>
	<a href="/catalog/frontalnye-pogruzchiki/" title="Фронтальные погрузчики">Фронтальные погрузчики</a>
	<a href="/catalog/ekskavatory-pogruzchiki/" title="Экскаваторы-погрузчики">Экскаваторы-погрузчики</a>
	<a href="/catalog/mini-pogruzchiki/" title="Мини-погрузчики">Мини-погрузчики</a>
	<a href="/catalog/buldozery/" title="Бульдозеры">Бульдозеры</a>
	<a href="/catalog/road-rollers/" title="Дорожные катки">Дорожные катки</a>
	<a href="/catalog/teleskopicheskie-pogruzchiki/" title="Телескопические погрузчики">Телескопические погрузчики</a>
	<a href="/catalog/mini-ekskavatory/" title="Мини-экскаваторы">Мини-экскаваторы</a>
	<a href="/catalog/navesnoe-oborudovanie-dlya-spetstekhniki/" title="Навесное оборудование для спецтехники">Навесное оборудование</a>
  </div>

</div>
<div id="AskMod" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
        <h3>Напишите нам!</h3>

        <hr>

        <form class="form-horizontal col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" id="user-name" placeholder="Имя">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" id="user-surname" placeholder="Фамилия">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <input type="email" class="form-control" id="email" placeholder="E-mail address">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>
              <input type="tel" class="form-control" id="number" placeholder="+7 999 555 5555">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-pencil"></i>
              </span>
              <textarea class="form-control" rows="3" placeholder="Съобщение" id="message"></textarea> 
            </div>
          </div>
          
          <button type="submit" class="btn btn-warning col-sm-4 col-sm-offset-4">
            Отправить
            <i class="fa fa-paper-plane"></i>
          </button>
        </form>
      
      </div>

</div>
<!-- HEADER -->

<div class="header">
<div class="container">
  <a class="rushoztorg-logo notranslate" href="//www.rushoztorg.ru">Русхозторг<span class="dotru">.ru</span></a>
</div>
</div>
<div id="navbar">
<div class="container">
  <a class="active" href="javascript:void(0)">Главная</a>
  <a href="javascript:openNav()" onclick="openNav()">Каталог</a>
  <a href="javascript:void(0)">Лизинг</a>
  <a href="javascript:void(0)">Гарантия</a>
  <a href="javascript:openAsk()" onclick="openNav()">Контакты</a>
  <a class="pull-right" href="javascript:openAsk()" onclick="openAsk()">+7-925-386-63-07</a>
</div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->

<div class="container content content-decor">
		<div class="row">
		  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/" title="Главная">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/{catalog_dir}/" title="Каталог">
                        <span itemprop="name">Каталог техники</span>
                        <meta itemprop="position" content="2">
                    </a>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/{catalog_dir}/{category_dir}/" title="Экскаваторы">
                        <span itemprop="name">Экскаваторы</span>
                        <meta itemprop="position" content="4">
                    </a>
                </li>
				<li class="current">
					<span>{prod_title}</span>
				</li>
			</ul>
		</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>{prod_title}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 item-photo" itemscope="" itemtype="http://schema.org/Product">
				<div class="fotorama" data-nav="thumbs" data-autoplay="false" data-ratio="1.3333333333">
					{prod_phgal}
				</div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12" style="border:0px solid gray">
				<div class="row margin-bottom-2">
					<div class="cell col-lg-7">
						<div class="bg-success">В наличии</div>
						<div class="margin-bottom-2">О доставке можно узнать у менеджера</div>
					</div>
					<div class="cell col-lg-5 data__row">
						<div class="data__label">NEW</div>
					</div>
				</div>
				<div class="row margin-bottom-2">
					<div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
						<meta itemprop="price" content="ЦЕНА:&nbsp;" />
						<span class="data__price" id="bx_117848907_32390_price">ЦЕНА:</span>
						<meta itemprop="priceCurrency" content="RUB" />
						<span class="data__price" id="bx_117848907_32390_price">{prod_price}</span>
						<br />
					</div>
				</div>
				
				<div class="row">
				    <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section">
							<h4 class="title-attr">Основные характеристики</h4>                    
						</div>
						{prod_descr}
					</div>
				</div>
				
                <div class="section" style="padding-bottom:20px;">
                    <h6>
						<a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Добавить в закладки</a>
					</h6>
                </div> 
				<div class="row">
					<div  class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
						{askbutton}
					</div>
						
					<div  class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
						{orderbutton}
					</div>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Характеристики</h2>
				
				<div class="cont">
					<div class="tabs-content">
						<div class="tabs-menu clearfix">
						  <ul>
							<li><a class="active-tab-menu" href="#" data-tab="tab1">Спецификация</a></li>
							<li><a href="#" data-tab="tab2">Лизинг</a></li>
							<li><a href="#" data-tab="tab3">Обсуждение</a></li>
						  </ul>
						</div> <!-- tabs-menu -->
						<div class="tab1 tabs first-tab">
						{prod_specs}
						</div> <!-- .tab1 -->
						
						<div class="tab2 tabs">
							<div class="text-center">
								<h3>Купите эту технику в&nbsp;лизинг</h3>
								<h4>Удобный способ расширить свой автопарк в сжатые сроки для компаний и физ. лиц</h4>
								<a data-open="leasingModal" class="x-catalog-leasing" data-prodid="32392" data-sectionid="1525" aria-controls="leasingModal" aria-haspopup="true" tabindex="0">
								<i class="fa fa-3x fa-pencil"></i>
								Заявка на лизинг
								</a>
								<div class="margin-top-10">
									<a class="text-black" href="/credit-and-leasing/" target="_blank">Подрбонее о нашей программе&nbsp;лизинга</a>
								</div>
							</div>
						</div> <!-- .tab2 -->
						
						<div class="tab3 tabs">
							<div class="disq">
								<h2>Отзывы и комментарии</h2>
								<div id="disqus_thread"></div>
								<script src="js/disqus.js"></script>
								<noscript>Включите avascript что бы отобразить комментарии</a></noscript>
							</div>
						</div> <!-- .tab3 -->
					</div> <!-- .tabs -->
				</div> <!-- .content -->
			</div>
		</div>	
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="container">
				<h3>Напишите нам!</h3>
				<hr>
				<form class="form-horizontal col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">
						<i class="fa fa-user"></i>
					  </span>
					  <input type="text" class="form-control" id="user-name" placeholder="Имя">
					</div>
				  </div>         
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">
						<i class="fa fa-user"></i>
					  </span>
					  <input type="text" class="form-control" id="user-surname" placeholder="Фамилия">
					</div>
				  </div>        
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">
						<i class="fa fa-envelope"></i>
					  </span>
					  <input type="email" class="form-control" id="email" placeholder="E-mail address">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">
						<i class="fa fa-phone"></i>
					  </span>
					  <input type="tel" class="form-control" id="number" placeholder="+7 999 555 5555">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">
						<i class="fa fa-pencil"></i>
					  </span>
					  <textarea class="form-control" rows="3" placeholder="Съобщение" id="message"></textarea> 
					</div>
				  </div>
				  <button type="submit" class="btn btn-warning col-sm-4 col-sm-offset-4">
					Отправить
					<i class="fa fa-paper-plane"></i>
				  </button>
				</form>
			  </div>
			</div>
		</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="cell col-lg-2 col-md-4 col-sm-12">
                        <!--noindex-->
						<span class="footer__heading">2018 &copy; Русхозторг</span>
                       <!--/noindex-->
                    </div>
            <div class="cell col-lg-4 col-md-4 col-sm-12">
                <span class="footer__heading">продукция</span>
                <ul class="production">	<li class="production__item"><a class="production__link" href="/catalog/avtogreydery/" title="Автогрейдеры">Автогрейдеры</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/ekskavatory/" title="Экскаваторы">Экскаваторы</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/frontalnye-pogruzchiki/" title="Фронтальные погрузчики">Фронтальные погрузчики</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/ekskavatory-pogruzchiki/" title="Экскаваторы-погрузчики">Экскаваторы-погрузчики</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/mini-pogruzchiki/" title="Мини-погрузчики">Мини-погрузчики</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/buldozery/" title="Бульдозеры">Бульдозеры</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/road-rollers/" title="Дорожные катки">Дорожные катки</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/teleskopicheskie-pogruzchiki/" title="Телескопические погрузчики">Телескопические погрузчики</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/mini-ekskavatory/" title="Мини-экскаваторы">Мини-экскаваторы</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/navesnoe-oborudovanie-dlya-spetstekhniki/" title="Навесное оборудование для спецтехники">Навесное оборудование</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/tekhnika-s-narabotkoy/">Техника с наработкой</a></li>
				<li class="production__item"><a class="production__link" href="/catalog/">Весь каталог</a></li></ul>
			</div>
            <div class="cell col-lg-2 col-md-4 col-sm-12">
                <span class="footer__heading">Русхозторг</span>
                <ul class="production"><li class="production__item"><a class="production__link" href="/contacts/">Контакты</a></li><li class="production__item"><a class="production__link" href="/sitemap/">Карта сайта</a></li></ul>
                <span class="footer__heading">услуги</span>
                <ul class="production"><li class="production__item"><a class="production__link" href="/lising/">Лизинг</a></li><li class="production__item"><a class="production__link" href="/service/">Сервис</a></li><li class="production__item"><a class="production__link" href="/trade-in/">TRADE-IN</a></li></ul>
            </div>
            <div class="cell col-lg-2 col-md-8 col-sm-12">
                <div class="row grid-padding-x">
                    <div class="cell col-lg-6 col-md-6 col-sm-12">
                        <span class="footer__heading">информация</span>
                        <ul class="production"><li class="production__item"><a class="production__link" href="/brands/">Бренды</a></li><li class="production__item"><a class="production__link" href="/guarantie/">Гарантия</a></li><li class="production__item"><a class="production__link" href="/articles/">Статьи</a></li></ul>
                    </div>
                    <div class="cell col-lg-6 col-md-6 col-sm-12">
                        <span class="footer__heading">контакты</span>
                        <div class="text-uppercase">Москва</div>
                        <div class="margin-bottom-2">
                            <span class="call_phone_495_6"><a class="footer__tel" href="tel:+79253866307">8 (925) 386-63-07</a></span>
                            <div class="call_phone_800_6"><a class="footer__tel" href="mailto:mail@rushoztorg.ru">mail@rushoztorg.ru</a></div>                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
  <div class="modal fade" id="orderModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Заказать</h4>
        </div>
        <div class="modal-body">
          <p><? echo $pproduct ?></p>
          <p>Цена: <? echo $pprice ?> руб.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 
<!-- Modal -->
  <div class="modal fade" id="askModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Задать вопрос</h4>
        </div>
        <div class="modal-body">
                <div class="container">
        <h3>Напишите нам!</h3>

        <hr>

        <form class="form-horizontal col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" id="user-name" placeholder="Имя">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" id="user-surname" placeholder="Фамилия">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <input type="email" class="form-control" id="email" placeholder="E-mail address">
            </div>
          </div>
		  
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>
              <input type="tel" class="form-control" id="number" placeholder="+7 999 555 5555">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-pencil"></i>
              </span>
              <textarea class="form-control" rows="3" placeholder="Съобщение" id="message"></textarea> 
            </div>
          </div>
          
          <button type="submit" class="btn btn-warning col-sm-4 col-sm-offset-4">
            Отправить
            <i class="fa fa-paper-plane"></i>
          </button>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal --> 
  <div class="modal fade" id="priceModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Уточнить цену</h4>
        </div>
        <div class="modal-body">
          <p><? echo $pproduct ?></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(46877343, "init", { id:46877343, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46877343" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!-- GOOGLE --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-110537188-1"></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}	gtag('js', new Date());	gtag('config', 'UA-110537188-1');  </script><!--[if lt IE 9]>  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>  <![endif]-->  <!-- /GOOGLE -->
<script  src="js/fullscreenmenu.js"></script>
<!--<script  src="js/stickynav.js"></script>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
</body>
</html>